.fundoCadastro {
    background-image: url("https://ik.imagekit.io/jwrnry98a/Cadastro.png?updatedAt=1707316235906");
    background-repeat: no-repeat;
    width: 65%;
    min-height: 100vh;
    background-size: cover;
    background-position: top;
  }