.fundoLogin {
    background-image: url("src/assets/img/5864e4247d90850fc3ce29d9.png");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 80%;
    background-size: 80% auto;
    background-position: center;
    
}